ul{
    list-style-type: none;
    margin: 5px;
    padding: 5px;
    overflow: hidden;
    background-color: lightblue;
}
ul li{
    float: left;
}
li a{
    display: block;
    color: #6F1515;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}
body{
    background-color:#152123;
}
h1{
    color:lemonchiffon;
}
h2{
    color:lavenderblush;
}
p{
    color:#FF8E38;
}
ol{
    color:burlywood;
}