.nav-container{
    list-style-type: none;
    margin: 0px;
    padding: 5px;
    overflow: hidden;
    background-color: #EDDDD0;
    display: flex;
    justify-content: center;
}
.nav-item{
    display: block;
    color: #6F1515;
    padding: 5px;
    text-decoration: none;
}
body{
    background-color:#6E8783;
}
h1{
    color:lemonchiffon;
}
h2{
    color:lavenderblush;
}
p{
    color:#FF8E38;
}
ol li a{
    color:burlywood;
}